html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: system-ui, sans-serif;
  padding: 8% 0;
}

#video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  letter-spacing: 2px;
  position: relative;
  z-index: 10;
  display: table;
}
main > div:first-child {
  margin-bottom: 20px;
}

#icon {
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 10px;
  font-family: "Electrolize";
  display: table;
  margin-left: auto;
  font-size: 10.5px;
}

#icon:hover, #yes:hover, #no:hover, button:hover, #content-prompt span:before {
  cursor: pointer;
  opacity: 0.6;
}

.fas {
  background: rgba(255, 255, 255, 0.3);
  padding: 7px;
  margin-right: 10px;
  border-radius: 3px;
  text-align: center;
}

.questionnaire {
  background: rgba(255, 255, 255, 0.5);
  padding: 1.5% 3% 5%;
  display: table;
  width: 100%;
  box-shadow: 20px 20px 20px 2px rgba(0, 0, 0, 0.5), -20px -26px 20px 2px rgba(0, 0, 0, 0.5);
}
.questionnaire h1 {
  font-style: italic;
  font-size: 4.5em;
  font-family: "Electrolize";
  margin-top: 3%;
}
.questionnaire .information {
  position: relative;
}
.questionnaire .information > div,
.questionnaire .information #count-reply {
  font-size: 2em;
  font-family: "Andika New Basic";
}
body button {
  padding: 12px 100px;
  display: table;
  margin: auto;
  font-size: 16.5px;
  border-radius: 10px;
  border: none;
  background: black;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 12%, #757909 53%, rgba(0, 0, 0, 0.9) 93%);
  font-family: "Architects Daughter", sans-serif;
  box-shadow: 0 7px 10px 3px rgba(0, 0, 0, 0.9);
  color: azure;
  text-shadow: 2px 2px black;
  margin-top: 30px;
}

button:focus {
  outline: none;
}
button:active {
  transform: scale(0.85);
}

#count-reply {
  margin-top: 2%;
  display: block;
  font-style: italic;
  padding-bottom: 0.5%;
  border-bottom: 1px solid black;
}

.reply {
  margin: 20px 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 15px;
  color: azure;
  font-family: "Architects Daughter";
  position: relative;
}
.reply:hover{
  cursor: pointer;
}
@media (min-width: 769px){
  .reply:hover{
  background: rgba(0, 0, 0, 0.9);
  }
}

.danger,
.danger:hover {
  background: #dc3545;
}

.check,
.check:hover {
  background: #28a745;
}

.danger:after,
.check:after {
  position: absolute;
  right: 2%;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  top: 50%;
  transform: translateY(-50%);
}

.danger:after {
  content: "";
}

.check:after {
  content: "";
}

.results {
  margin-top: 25px;
  text-align: center;
}
.results button {
  display: block;
  margin: 15px auto;
}

#result {
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Architects Daughter";
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
}

#yes, #no {
  background-color: black;
  padding: 7px;
  border-radius: 10px;
  margin: 5px 0;
  display: inline-block;
}

#loading {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px dotted;
  border-bottom-color: black;
  border-top-color: black;
  border-right-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 50%;
  left: 45%;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(360deg);
  }
  40% {
    transform: rotate(-80deg);
  }
  90% {
    transform: rotate(20deg);
    border-left-color: black;
  }
}
.fade-in {
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  -webkit-animation: fadein 3s;
  -o-animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-out {
  animation: fadeout 3s;
  -moz-animation: fadeout 3s;
  -webkit-animation: fadeout 3s;
  -o-animation: fadeout 3s;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.padding {
  padding: 25% 0;
}


@media (max-width: 1024px) {
  .questionnaire .start-test {
    float: none;
  }
  .questionnaire .start-test, .questionnaire .next {
    display: block;
    margin: 35px auto;
  }

  #count-reply {
    margin-top: 3%;
  }
}

@media (max-width: 725px) {
  .questionnaire{
    padding: 3% 3% 3%;
  }
  .questionnaire .next {
    float: none;
  }
}
@media (max-width: 600px) {
  main .questionnaire h1 {
    font-size: 3.5em;
  }
  main .questionnaire .information > div, main .questionnaire .information #count-reply {
    font-size: 1.65em;
  }
  main .questionnaire .information #count-reply {
    margin-right: 10px;
    margin-left: 10px;
  }

  #count-reply {
    margin-top: 5%;
    padding-bottom: 1.5%;
  }
  .padding {
    padding: 100% 0;
  }
}
.swal2-popup {
  font-size: 1.6rem !important;
}
#prompt{
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.8);
z-index: 30;
display: flex;
justify-content: center;
align-items: center;
}
#content-prompt {
background: rgba(255,255,255,0.5);
font-family: 'Andika New Basic';
font-size: 15px;
width: 90%;
max-width: 500px;
border-radius: 12px;
padding: 40px 0;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}
#content-prompt input{
margin: 10px auto 0;
padding: 10px;
border-radius: 10px;
border: none;
width: 100%;
max-width: 400px;
}
#content-prompt input:focus{
outline: none;
box-shadow: 1px 1px 20px 2px #757909;
}
#content-prompt span{
text-align: center;
font-weight: bold;
}
#content-prompt span, #content-prompt input{
display: block;
}
#content-prompt button{
padding: 10px 50px;
display: table;
margin: 15px auto 0;
border-radius: 10px;
border: none;
}
